.headerLink{
    color: var(--gray);
    transition: color .4s;
    display: flex;
    font-size: 14px;

    &:not(:first-child){
        margin-left: 30px;
    }

    &:hover{
        color: var(--gray-hover);

        & svg{
            fill: var(--gray-hover);
        }
    }

    & svg{
        margin-right: 8px;
        fill: var(--gray);
        transition: fill .4s;
    }
}