.backLink{
    width: 35px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid var(--gray-light);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    margin-right: 20px;

    & svg{
        stroke: #C8C8C8;
        transition: .4s;
    }

    &:hover{
        background: var(--green);

        & svg{
            stroke: var(--white);
        }
    }
}