@keyframes ldio-yzaezf3dcmj {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-yzaezf3dcmj div { box-sizing: border-box!important }
.ldio-yzaezf3dcmj > div {
  position: absolute;
  width: 102.9px;
  height: 102.9px;
  top: 1.05px;
  left: 1.05px;
  border-radius: 50%;
  border: 8.4px solid #000;
  border-color: #a5d364 transparent #a5d364 transparent;
  animation: ldio-yzaezf3dcmj 1s linear infinite;
}

.ldio-yzaezf3dcmj > div:nth-child(2), .ldio-yzaezf3dcmj > div:nth-child(4) {
  width: 84px;
  height: 84px;
  top: 10.5px;
  left: 10.5px;
  animation: ldio-yzaezf3dcmj 1s linear infinite reverse;
}
.ldio-yzaezf3dcmj > div:nth-child(2) {
  border-color: transparent #ff8585 transparent #ff8585
}
.ldio-yzaezf3dcmj > div:nth-child(3) { border-color: transparent }
.ldio-yzaezf3dcmj > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-yzaezf3dcmj > div:nth-child(3) div:before, .ldio-yzaezf3dcmj > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 8.4px;
  height: 8.4px;
  top: -8.4px;
  left: 38.85px;
  background: #a5d364;
  border-radius: 50%;
  box-shadow: 0 94.5px 0 0 #a5d364;
}
.ldio-yzaezf3dcmj > div:nth-child(3) div:after {
  left: -8.4px;
  top: 38.85px;
  box-shadow: 94.5px 0 0 0 #a5d364;
}

.ldio-yzaezf3dcmj > div:nth-child(4) { border-color: transparent; }
.ldio-yzaezf3dcmj > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-yzaezf3dcmj > div:nth-child(4) div:before, .ldio-yzaezf3dcmj > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 8.4px;
  height: 8.4px;
  top: -8.4px;
  left: 29.400000000000002px;
  background: #ff8585;
  border-radius: 50%;
  box-shadow: 0 75.60000000000001px 0 0 #ff8585;
}
.ldio-yzaezf3dcmj > div:nth-child(4) div:after {
  left: -8.4px;
  top: 29.400000000000002px;
  box-shadow: 75.60000000000001px 0 0 0 #ff8585;
}
.loadingio-spinner-double-ring-2by998twmg8 {
  width: 105px;
  height: 105px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-yzaezf3dcmj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-yzaezf3dcmj div { box-sizing: content-box; }
.loaderWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}