.cart{
    width: 385px;
    height: 100vh;
    background: var(--white);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.cartBackdrop{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 2;
}