.cart{
    width: 385px;
    height: 100vh;
    background: var(--white);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    padding: 90px 30px 30px 30px;
}

.cartTitleWrapper{
    position: absolute;
    top: 30px;
    left: 30px;
}

.cartContent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}